@font-face {
    font-family: 'mc' ;
    src: url(mc.otf);
}
body {
    font-family: 'mc' ,'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(681deg, purple, rgba(238, 7, 7, 0.705));
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(99, 15, 107, 0.555);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 636px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #6e1691;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'mc';
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #bf70ec;
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 2px dashed #0000003b;
    background-color: rgba(243, 136, 243, 0.438);
    font-size: 18px;
}

#result {
    margin: 0;
}
